{% extends 'teacher/base.html' %} {% load crispy_forms_tags %} {% block content %}
<header class="bg-gray-800 text-white py-4 px-6">
    <div class="max-w-3xl mx-auto flex justify-between items-center">
      <h1 class="text-2xl font-semibold">{{ question.question_text }}</h1>
      <a
        href="{% url 'question_detail' question.pk %}"
        class="text-gray-300 hover:text-gray-100"
      >
        Back to Question
      </a>
    </div>
  </header>
  
<main class="my-12">
  <div class="max-w-3xl mx-auto bg-white shadow-md rounded-lg overflow-hidden">
    <form class="p-6" method="post">
        {% csrf_token %}
        {{ form | crispy }}
        {{ formset.management_form }}
        {% for subform in formset %}
        <div class="option-form">
          {{ subform | crispy }}
        </div>
        {% endfor %}
        <button
          type="submit"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        >
          Save Changes
        </button>
    </form>
  </div>
</main>
{% endblock %}
