{% extends 'student/base.html' %} {% block content %}
<header class="bg-gray-800 text-white py-4 px-6">
  <div class="max-w-3xl mx-auto flex justify-between items-center">
    <h1 class="text-2xl font-semibold">Exams</h1>
    <p class="text-lg font-semibold text-white">
      Total number of exam:
      <span class="text-blue-500">{{ exam_count }}</span>
    </p>
  </div>
</header>

<main class="p-6">
  <div class="container mx-auto">
    <table class="min-w-full">
      <thead>
        <tr>
          <th
            class="px-6 py-3 bg-gray-100 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            #
          </th>
          <th
            class="px-6 py-3 bg-gray-100 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Exam Name
          </th>
          <th
            class="px-6 py-3 bg-gray-100 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Course
          </th>
          <th
            class="px-6 py-3 bg-gray-100 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Total Marks
          </th>
          <th
            class="px-6 py-3 bg-gray-100 text-left text-xs font-medium text-gray-500 uppercase tracking-wider relative"
          >
            Total Questions
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        {% for exam in exams %}
        <tr class="hover:bg-green-50 cursor-pointer transition">
          <td class="px-6 py-4 whitespace-nowrap">
            <a
              href="{% url 'take_exam' exam.pk %}"
              class="hover:underline underline-offset-2"
            >
              {{ forloop.counter }}
            </a>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <a
              href="{% url 'take_exam' exam.pk %}"
              class="hover:underline underline-offset-2"
            >
              {{ exam.exam_name }}
            </a>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <a
              href="{% url 'take_exam' exam.pk %}"
              class="hover:underline underline-offset-2"
            >
              {{ exam.course }}
            </a>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">{{ exam.total_marks }}</td>
          <td class="px-6 py-4 whitespace-nowrap relative flex items-center">
            {{ exam.total_question_number }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>

{% endblock content %}
