{% extends 'student/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<header class="bg-gray-800 text-white py-4 px-6">
  <div class="max-w-3xl mx-auto flex justify-between items-center">
    <h1 class="text-2xl font-semibold">{{ exam.exam_name }}</h1>
    <p class="text-lg font-semibold text-white">
      Total number of Questions:
      <span class="text-blue-500">{{ exam.total_question_number }}</span>
    </p>
  </div>
</header>

<main class="p-6">
  <div class="container mx-auto">
    <form method="post" class="bg-white p-4 border shadow-md rounded" id="exam-form">
      <div id="timer" class="text-xl font-semibold mb-4 text-center">Time Remaining: {{ duration_minutes }}:00</div>
      {% csrf_token %}
      {% for question in questions %}
      <h2>
        {{ forloop.counter }}: {{ question.question_text }} ({{ question.mark }})
      </h2>
      <ol type="A" style="list-style-type: upper-latin">
        {% for option in question.option_set.all %}
        <li>
          <label>
            <input
              type="radio"
              name="question_{{ question.id }}"
              value="{{ option.id }}"
              class="form-check-input"
            />
            {{ option.option_text }}
          </label>
        </li>
        {% endfor %}
      </ol>
      {% endfor %}
      <button type="submit" class="btn btn-primary mt-3">Submit Exam</button>
    </form>
  </div>
</main>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var durationMinutes = {{ exam.duration_minutes }};
    var timerElement = document.getElementById("timer");
    var timeRemaining = durationMinutes * 60; // Convert minutes to seconds

    function updateTimer() {
      if (timeRemaining > 0) {
        var minutes = Math.floor(timeRemaining / 60);
        var seconds = Math.floor(timeRemaining % 60);
        timerElement.innerHTML =
          "Time Remaining: " + minutes + "m " + seconds + "s";
        timeRemaining--;
      } else {
        timerElement.innerHTML = "Time Up!";
        document.getElementById('exam-form').submit(); // Submit the form when time is up
      }
    }

    setInterval(updateTimer, 1000); // Update timer every second
  });
</script>

{% endblock %}
